* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

body {
  background-color: rgb(51, 37, 20);
  background-image: url(Images/testbilde.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #f0f0f0;
}
button {
  margin: auto;
}
